

.sidebar {
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    height: 8vh;
    color:aliceblue;
}
.bodycontainer {
    width:100%;
    padding-left:1rem;
    padding-right:1rem;
    padding-bottom:.5rem;
}